.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* full-width centered with padding */
  width: 100%;
  height: 100%;
  padding: none;
}

.cards-row-wrapper {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%; 
}

.cards-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding: 0rem; 
  margin: 0 auto;  
  width: fit-content;
}


.side-element {
  width: 3rem;
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.playing-row-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 70%;
    height:60%;
}
.playing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.playing-card-section {
    height:auto;
    width: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    width: auto;
}